<div class="
  header">
  <div class="
    header_background
    has-complete-background ">

    <div class="
      header_title-container
      is-centered ">
      <p>
        <span class="
          header_title
          isTitle1
          is-white ">
          HOLA,
        </span>
      </p>
      <p>
        <span class="
          header_title
          isTitle2
          is-white  ">
          SOY
        </span>
        <span class="
          header_title
          isTitle2
          is-yellow">
          RODRIGO
        </span>
      </p>
      <p>
        <span class="
          header_subtitle
          is-subtitle ">
          @whiletruedothis
        </span>
      </p>
    </div>

  </div>
  <div class=" 
  header_photo
    is-centered
    is-circle
    has-shadow
    has-complete-background ">
  </div>
</div>


<div class="content">
  <div class="
    content_information-text
    is-text-centered ">
    Hazme una pregunta
  </div>

  <div class="
    content_button-container
    is-flex-centered-container
    is-flex-wraped">

    <button class="
      content_button
      is-principal-button
      has-colored-text "> 
      A que tedicas?
    </button>

    <button class="
      content_button
      is-principal-button
      has-colored-text "> 
      Cuéntame más sobre ti?
    </button>

  </div>
</div>